.flex-container {
  display: flex;
  background-color: none;
}

.flex-container > div {
  background-color: none;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  margin-bottom: 50px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    float: left;
}
.logo img {
    width: 200px;
    height: 45px;
    padding-top: 20px;
    margin-left: 50px;
}
.nav{
    padding-top: 20px;
    margin-bottom: 30px;
    margin-right: 50px;
    float: right;
}
.button{
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.137);
    padding: 10px 30px;
    border-radius: 7px;
    text-decoration: none;
    color: white;
    background-color: #2791a3;
    opacity: 0.6;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button2{
  float: right;
  margin-right: 50px;
  margin-bottom: 50px;
}
.button:hover{
  background-color: #fff;
  border: 1px solid #2791a3;
  color: #2791a3;
}
.button:active {
  background-color: #2791a3;
  box-shadow: 0 5px #666;
  transform: translateY (4px);
  color: #fff;
  opacity: 100;
}
header{
    width: 100%;
}
nav ul {list-style: none; padding: 0 ;
}
nav ul li {display: inline; padding: 8px;
}
nav a {
    text-decoration: none;
    color: black;
}
.clear-floats { clear: both; }
h1 {
    font-size: 6em;
    color: #fff;
  }
h2 {
    font-size: 2em;
    color: #2791a3;
    font-weight: normal;
  }
  h3 {
    font-size: 3em;
    color: #2791a3;
  }
  h4{
    font-size: 1em;
    color: black;
    font-weight: bold;
  }
  h5{
    font-size: 1em;
    color: #ffffff;
    font-weight: lighter;
  }
  .home-1 {
    height: 700px;
    background-image: url("./images/2HomePageHeroImage2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-bottom: 20px;
  }
  .home-1-heading {
    justify-content:right;
    width: 60vw;
    z-index: 1;
  }
  .image div{
    display: inline-block;
    width: 49%;
    padding: 5px;
    height: 500px;
    margin-bottom: 20px;
}
  .contact-1{
    height: 500px;
    background-color: #030E4E;
    display: flex;
    padding-left: 100px;
  }
  .contact-1-heading{
    font-family: sans-serif;
    align-items: left;
    justify-content: left;
    display: inline-block;
  }
  .contact-image{
    background-image: url("../Images/Contact.jpg");
    display: inline-block;
  }
  .footer{
    height: 130px;
    width: 100%;
    background-color: #41c1d1;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  img{
    float: right;
  }
  .get-worked{
    height: 200px;
    padding-left: 20PX;
    font-family: sans-serif;
    display: inline-block;
    justify-content: center;
    text-align: left;
  }
  .mennonite{
    height: 200px;
    padding-left: 20PX;
    padding-bottom: 300px;
    font-family: sans-serif;
    display: inline-block;
    justify-content: center;
    text-align: left;
  }
  .CCA{
    height: 200px;
    padding-left: 20PX;
    padding-bottom: 300px;
    font-family: sans-serif;
    display: inline-block;
    justify-content: center;
    text-align: left;
  }
  .TTP{
    height: 200px;
    padding-left: 20PX;
    padding-bottom: 300px;
    font-family: sans-serif;
    display: inline-block;
    justify-content: center;
    text-align: left;
  }
  .project1{
    background-image: url(".//img/CaseStudynonprofit.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .project2{
    background-image: url("../Images/OCH\ Home.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .background-box{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    background-position: right;
    margin-right: 20px;
  }
.follow{
  justify-content: center;
  display: inline-block;
}
@media only screen and (max-width: 600px){}
   .flex-container {
     display: flex;
     flex-direction: column;
   }




